*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color:#272b33;
}

#init{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#init div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#init div img{
    width: 600px;
    margin-bottom: 50px;
}

#init div button{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-width: 5px;
    border-color: #030f19;
    border-style: solid;
    font-size: 25px;
    color: #030f19;
}


#init div button:hover{
    background-color: #ff2039;
    border-color: #030f19;
    color: #fff;
    cursor: pointer;
}

/*Termino el css del componente Init*/

#characters{
    width: 100%;
    height: 100vh; 
}

#characters .up{
    background-color: #fff;
    width: 100%;
    height: 80px;
}

#characters .down{
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#characters .down .card{
    width: 300px;
    height: 500px;
    margin-bottom: 30px;
}

#characters .down .card .back{
    width: 300px;
    height: 320px;
    background-image: url('https://web.dragonball-api.com/images-compress/89980.webp');
    background-size: cover;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#characters .down .card .back img{
    height: 80%;
}

#characters .down .card .back img:hover{
    height: 100%;
    transition-duration: 0.5s;
}

#characters .down .card .description{
    width: 300px;
    height: 180px;
    background-color: #3c3e44;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

#characters .down .card .description .titulo{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 7px;
}

#characters .down .card .description .subtitulo{
    color: #fbc02d;
    font-family: Arial, Helvetica, sans-serif;
}

#characters .down .card .description .name{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2px 0 8px 0;
    
}






